<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GOAL - Ricardinho</title>
</head>
<body>
		<section id="about">
            <div class="about-text">
            <h1>(position)</h1>
            <h2>(playerName)</h2>
            <p>Country: </p>
            <p>Age: </p>
            <p>Club Name: </p>
            <p>Internacional Competitions: </p>
            <p>National Competitions: </p>
            <p>Awards: </p>
            <p>Description: </p>
            <button>More players</button>
            </div>
        
            <div class="about-img">
            <img alt="ricardinho" src="./images/ricardinho.jpeg"/>	
            </div>
            </section>
        
</body>
</html>