<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GOAL - Leagues</title> 
</head>
<body>
		<section id="league">
            
            <div class="league-img league-text">
                
                <img class="logo-league-img" alt="league" src="ricardinho.jpeg"/>	
                <h2>Portuguese League</h2>

            </div>

            <div class="league-text">

                <img class="table-league-img" alt="league" src="ricardinho.jpeg"/>

                <p>News Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione incidunt vero itaque odit repellat consequuntur nisi cupiditate provident similique sunt. Dolorum libero est quas delectus, nobis eligendi dolor atque ab. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis magnam tempore culpa. Temporibus alias totam quia, est aut ut ipsam amet quod animi corrupti, officia, veritatis sequi eum aliquid blanditiis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis qui reprehenderit ipsa ea eos aut unde nulla amet fugit ex asperiores temporibus repellendus totam voluptatem odio error, optio assumenda!</p>
            
            <button>More League</button>
            </div>

        </section>
        
</body>
</html>